.skill {
	display: flex;
	flex-direction: column;
	margin: 1em;
	padding: 1em;
	background-color: #292929;
	border-radius: 15px;
}

.skill-name {
	font-size: 1.5rem;
	color: #ffffffcc;
}

.skill-chart-box {
	padding: .5em;
	background-color: #313131dd;
	border-radius: 10px;
}

.skill-boiler {
	position: relative;
	width: 100%;
	height: 20px;
	background-color: #272727;
	border-radius: 20px;
}

.skill-liquid {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: inherit;
	content: '';
	width: 0;
	opacity: 0;
	padding-right: 5px;
	
	background-color: #00ffff88;
	box-shadow: 0 0 .8em #00ffff7a;
	border-radius: 20px;
	color: black;
	text-align: right;
	text-shadow: 0 0 .2em black;
}
.fill-boiler {
	opacity: 1;
	animation: fill-boiler 2s ease-in-out;
}
@keyframes fill-boiler {
	from {
		opacity: 0;
		width: 0;
		background-color: black;
	}
	to {
		opacity: 1;
		background-color: #00ffff88;
	}
}

.show-percentage {
	animation: show-percentage 2s ease-in-out;
}
@keyframes show-percentage {
	0% {
		opacity: 0;
		transform: translateX(20px);
	}
	70% {
		opacity: 0;
		transform: translateX(15px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

