.skills-section {
	display: flex;
	flex-direction: column;
	background-color: #2f2f2f;
	color: white;
}

.skills-section-title {
	width: fit-content;
	position: relative;
	margin: 1em;
	font-size: 3.5rem;
	text-shadow: 0 0 .2em black;
	color: #ffffffcc;
}
.skills-section-title::before, .skills-section-title::after {
	content: '';
	position: absolute;
	bottom: 15%;
	background-color: #ffffff22;
	border-radius: 20px;
	box-shadow: 0 0 .3em black;
	width: 50px;
	height: 10px;
}
.skills-section-title::before {
	background-color: rgba(250, 250, 17, 0.514);
	animation: move-right-and-go-back 6s infinite;
}
@keyframes move-right-and-go-back {
	0% {
		left: 0;
	}
	50% {
		left: calc(100% - 50px);
	}
	100% {
		left: 0;
	}
}
.skills-section-title::after {
	background-color: rgba(0, 157, 255, 0.496);
	animation: move-left-and-go-back 3s infinite;
}
@keyframes move-left-and-go-back {
	0% {
		left: calc(100% - 50px);
	}
	50% {
		left: 0;
	}
	100% {
		left: calc(100% - 50px);
	}
}