.about-section {
	display: flex;
	flex-direction: column;
	gap: .5em;
	padding-bottom: 4em;
	background-color: #353535a4;
}

.about-section-title {
	margin: .7em;
	background-color: #353535a4;
	backdrop-filter: blur(10px);
	border-radius: 30% 20px 30% 20px;
	border: 2px solid gray;
	box-shadow: 0 0 .2em gray;
	font-size: 3.5rem;
	color: rgba(255, 255, 255, .7);
	text-align: center;
}

.about-section-description {
	margin: 0 .7em;
	padding: 1em;

	background-color: #353535a4;
	border-radius: 12px;
	font-family: 'Quicksand', 'Verdana';
	font-size: 1.2em;
	line-height: 1.4em;
	text-align: justify;
	color:rgba(255, 255, 255, .6);
}