.contact-section {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: fit-content;
	box-shadow: 0 0 3em rgb(2, 83, 92);
}

.contact-section-background-gradient {
	width: 100%;
	height: 100%;
	position: absolute;
	background: linear-gradient(-160deg, #35d8ee, #032645);
	z-index: -1;
}

.contact-section-content {
	padding: 1.5rem;
	background: #000506aa;
	backdrop-filter: blur(10px);
}

.contact-section-title {
	margin: .7em .7em 1.2em .7em;
	font-size: 3rem;
	color: #ffffffcc;
	text-shadow: 0 0 .2em black;
}

.contact-section-form {
	display: flex;
	flex-direction: column;
	gap: .8em;
}

.contact-section-form-email-input, .contact-section-form-textarea {
	padding: .7em;
	background-color: #00000044;
	border: none;
	border-radius: 8px;
	font-size: 1rem;
	font-family: 'Quicksand', 'Verdana';
	color: #ffffffcc;
	transition: .4s;
}
.contact-section-form-email-input::placeholder, .contact-section-form-textarea::placeholder {
	color: #ffffffcc;
}
.contact-section-form-email-input:focus, .contact-section-form-textarea:focus {
	outline: none;
	box-shadow: 0 0 .32em cyan;
}
.contact-section-form-textarea {
	min-height: 100px;
	resize: vertical;
}

.contact-section-button {
	width: fit-content;
	margin: 1.2em 0 2em auto;
	padding: .5em 1em;


	background-color: #07738162;
	backdrop-filter: blur(10px);
	box-shadow:0 0 .3em #032645;
	border: 2px solid transparent;
	border-radius: 50px;
	font-size: 1rem;
	font-family: 'Quicksand', 'Verdana';
	font-weight: 500;
	color: #1bc3dace;
	transition: .4s;
}
.contact-section-button:hover {
	cursor: pointer;
	background-color: #0aaec4af;
	border-color: #075e69df;
	box-shadow: 0 0 .3em #09a8bdc2;
	color: #000000;
}

.contact-section-p {
	font-size: 1.05rem;
	font-family: 'Quicksand', 'Verdana';
	font-weight: 500;
	color: #1c8997ce;
}