/* @import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap"); */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Secular One", "Verdana";
}

body {
  background: linear-gradient(rgb(40, 40, 40), rgb(16, 37, 50), rgb(23, 22, 54), rgb(1, 52, 64));
}

::-webkit-scrollbar-thumb {
  background: #222222;
  border-radius: 15px;
}

::-webkit-scrollbar-track {
  background: #2e2e2e;
}

::-webkit-scrollbar {
  width: 10px;
}